

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container-fluid">

<div class="row">
 <div class="col-md-12">

   <div class="panel panel-default">
  	<div class="panel-heading">
	       <h4>Pocket Basic Profile API Test</h4>      
        </div>
	<div class="panel-body">

            <form method="post" action="v2/pocket-nominee-profile/" enctype="multipart/form-data">
		{% csrf_token %}


			<div class="form-group">
				<label for="pocket_mobileno">Mobile:</label>
				<input type="text" name="pocket_mobileno" class="form-control" id="pocket_mobileno">
			</div>

			<div class="form-group">
				<label for="pocket_deviceid">Device Id:</label>
				<input type="text" name="pocket_deviceid" class="form-control" id="pocket_deviceid">
			</div>

			<div class="form-group">
				<label for="pocket_simid">SIM Id:</label>
				<input type="text" name="pocket_simid" class="form-control" id="pocket_simid">
			</div>

			  <div class="form-group">
				<label for="pocket_nominee_fname">Nominee First Name:</label>
				<input type="text" name="pocket_nominee_fname" class="form-control" id="pocket_nominee_fname">
			  </div>

			  <div class="form-group">
                                <label for="pocket_nominee_mname">Nominee Middle Name:</label>
                                <input type="text" name="pocket_nominee_mname" class="form-control" id="pocket_nominee_mname">
                          </div>

			  <div class="form-group">
                                <label for="pocket_nominee_lname">Nominee Last Name:</label>
                                <input type="text" name="pocket_nominee_lname" class="form-control" id="pocket_nominee_lname">
                          </div>

			 <div class="form-group">
				<label for="nomineedobs">Nominee Date of Birth:</label>
				<input type="text" name="nomineedobs" class="form-control" id="nomineedobs">
			  </div>

			 <div class="form-group">
                                <label for="pocket_nominee_contactno">Alternate MobileNo:</label>
                                <input type="text" name="pocket_nominee_contactno" class="form-control" id="pocket_nominee_contactno">
                          </div>


   		          <div class="form-group">
				<label for="pocket_nominee_relation">Relation With Pocket:</label>
				<input type="text" name="pocket_nominee_relation" class="form-control" id="pocket_nominee_relation">
			  </div>

	  	          <div class="form-group">
				<label for="pocket_app_pass">
				 <input type="radio" id="pocket_nominee_nid_voter" name="pocket_nominee_nid_voter" value="NID"/>NationalID
				 <input type="radio" id="pocket_nominee_nid_voter" name="pocket_nominee_nid_voter" value="VID" />VoterID:</label>
				<input type="text" name="pocket_nominee_nid_or_voter" class="form-control" id="pocket_nominee_nid_or_voter">
			  </div>
				
			 <div class="form-group">
                                <label for="pocket_nominee_nid_or_vid_photo">Nominee VID/NID Photo:</label>
                                <input type="file" name="pocket_nominee_nid_or_vid_photo" class="form-control" id="pocket_nominee_nid_or_vid_photo">
                          </div>



		 
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>


     </div>

    </div> 

 </div>
</div>           
</div>

</body>
</html>


