
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container-fluid">

<div class="row">
 <div class="col-md-12">

   <div class="panel panel-default">
  	<div class="panel-heading">
	       <h4>Pocket Basic Profile API Test</h4>      
        </div>
	<div class="panel-body">

            <form method="post" action="v2/pocket-basic-profile/" enctype="multipart/form-data">
		{% csrf_token %}


			 <div class="form-group">
                                <label for="pocket_photo">Profile Photo:</label>
                                <input type="file" name="pocket_photo" class="form-control" id="pocket_photo">
                          </div>


			  <div class="form-group">
				<label for="pocket_fname">First Name:</label>
				<input type="text" name="pocket_fname" class="form-control" id="pocket_fname">
			  </div>

			  <div class="form-group">
                                <label for="pocket_fname">Middle Name:</label>
                                <input type="text" name="pocket_mname" class="form-control" id="pocket_mname">
                          </div>

			  <div class="form-group">
                                <label for="pocket_lname">Last Name:</label>
                                <input type="text" name="pocket_lname" class="form-control" id="pocket_lname">
                          </div>

			  <div class="form-group">
			<label for="pocket_gender"><input type="radio" name="pocket_gender" value="Male" class="form-control" id="pocket_gender">Male
			<input type="radio" name="pocket_gender" value="Female" class="form-control" id="pocket_gender">Female
                        <input type="radio" name="pocket_gender" value="Other" class="form-control" id="pocket_gender">Other
	</label>
                          </div>


			 <div class="form-group">
				<label for="pocket_mobileno">MobileNo:</label>
				<input type="text" name="pocket_mobileno" class="form-control" id="pocket_mobileno">
			  </div>

			 <div class="form-group">
                                <label for="pocket_alternate_mobileno">Alternate MobileNo:</label>
                                <input type="text" name="pocket_alternate_mobileno" class="form-control" id="pocket_alternate_mobileno">
                          </div>


   		          <div class="form-group">
				<label for="pocket_dob">Email:</label>
				<input type="text" name="pocket_email" class="form-control" id="pocket_email">
			  </div>

			  <div class="form-group">
				<label for="pocket_deviceid">Device Id:</label>
				<input type="text" name="pocket_deviceid" class="form-control" id="pocket_deviceid">
			  </div>

			    <div class="form-group">
				<label for="pocket_simid">SIM Id:</label>
				<input type="text" name="pocket_simid" class="form-control" id="pocket_simid">
			  </div>


		  	    <div class="form-group">
				<label for="pocket_app_pass">
				 <input type="radio" id="pocket_nid_voter" name="pocket_nid_voter" value="NID"/>NationalID
				 <input type="radio" id="pocket_nid_voter" name="pocket_nid_voter" value="VID" />VoterID:</label>
				<input type="text" name="pocket_nid_or_voter" class="form-control" id="pocket_nid_or_voter">
			  </div>

		 
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>


     </div>

    </div> 

 </div>
</div>           
</div>

</body>
</html>

