<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container-fluid">

<div class="row">
 <div class="col-md-12">

   <div class="panel panel-default">
  	<div class="panel-heading">
	       <h4>Pocket Address Profile API Test</h4>      
        </div>
	<div class="panel-body">

            <form method="post" action="v2/pocket-address-profile/" enctype="multipart/form-data">
		{% csrf_token  %}

 <div class="form-group">
            <label for="pocket_mobileno">Mobile No:</label>
            <input type="text" name="pocket_mobileno" class="form-control" id="pocket_mobileno">
      </div>

<div class="form-group">
            <label for="pocket_deviceid">Device ID:</label>
            <input type="text" name="pocket_deviceid" class="form-control" id="pocket_deviceid">
      </div>

	<div class="form-group">
            <label for="pocket_simid">SIM ID:</label>
            <input type="text" name="pocket_simid" class="form-control" id="pocket_simid">
      </div>

   <div class="form-group">
            <label for="permanent_address">Permanent Address:</label>
            <input type="text" name="permanent_address" class="form-control" id="permanent_address">
      </div>

	 <div class="form-group">
            <label for="permanent_division">Division:</label>
            <input type="text" name="permanent_division" class="form-control" id="permanent_division">
      </div>
			  <div class="form-group">
				  <label for="permanent_district">District:</label>
				  <input type="text" name="permanent_district" class="form-control" id="permanent_district">
			  </div>

			  <div class="form-group">
                                <label for="permanent_thana">Thana/Upazilla:</label>
                                <input type="text" name="permanent_thana" class="form-control" id="permanent_thana">
                          </div>

			  <div class="form-group">
                <label for="permanent_postcode">Post Code:</label>
                <input type="text" name="permanent_postcode" class="form-control" id="permanent_postcode">
          </div>




      <div class="form-group">
            <label for="present_address">Presnet Address:</label>
            <input type="text" name="present_address" class="form-control" id="present_address">
      </div>

         <div class="form-group">
            <label for="present_division">Division:</label>
            <input type="text" name="present_division" class="form-control" id="present_division">
      </div>
                          <div class="form-group">
                                  <label for="present_district">District:</label>
                                  <input type="text" name="present_district" class="form-control" id="present_district">
                          </div>

                          <div class="form-group">
                                <label for="present_thana">Thana/Upazilla:</label>
                                <input type="text" name="present_thana" class="form-control" id="present_thana">
                          </div>

                          <div class="form-group">
                <label for="present_postcode">Post Code:</label>
                <input type="text" name="present_postcode" class="form-control" id="present_postcode">
          </div>





	   <div class="form-group">

                <input type="submit" value="Submit" class="btn btn-primary" >
          </div>
	</form>

</div>
 </div>
 </div>
 </div>
 </div>

</body>
</html>

	
