{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Aes Key List</h1>
        </div>             
    </div>           
    <!-- /.row -->


    <div class="row">
	<div class="col-lg-12">
	<br/>

	<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
	<tr>
		<th>API Name</th>
		<th>API Code</th>
		<th>App Name</th>
		<th>Key</th>
		<th></th>
	</tr>
	{% for al in list_details %}
	<tr>
		<td>{{ al.aes_title }}</td>
		<td>{{ al.aescode }}</td>
		{% if al.app_name == '101' %}
		<td>Pocket</td>
		{% else %}
		<td>Drawer</td>
		{% endif %}
		<td>{{ al.broken_key }}</td>
		<td><a href="/grid/aes-key-edit?keyid={{ al.id  }}" class="btn btn-info btn-xs">Edit</a></td>
	</tr>
	{% endfor %}
	</table>



	</div>
    </div>

</div>
{% endblock content %}

