{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}


{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Encryption Key Edit</h1>
                </div>
              
            </div>


            <div class="row">
                <div class="col-lg-12">


		<form method="get" action="">


                <div class="form-group">
                        <label for="customer_id">App Name:</label>
                        <input type="text" name="aescode" class="form-control" value="{{ app_name }}"/>
                </div>
		<div class="form-group">
			<label for="customer_id">AES Code:</label>
		        <input type="text" name="aescode" class="form-control" value="{{ aescode }}"/>
		</div>
               <div class="form-group">
                        <label for="customer_id">AES Title:</label>
                        <input type="text" name="aescode" class="form-control" value="{{ aes_title }}"/>
                </div>
               <div class="form-group">
                        <label for="customer_id">Key:</label>
                        <input type="text" name="aescode" class="form-control" value="{{ broken_key }}"/>
                </div>

		<input type="submit" value="Update" class="btn btn-primary"/>
		<a href="/grid/api-encryption-keys/" class="btn btn-info">Back</a>

		</form>


                </div>
            </div>



</div>

{% endblock content %}

