{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}


{% block content %}
<div id="page-wrapper">



<!--
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users</h1>
                </div>
              
            </div>
-->

            
            <!-- /.row -->
            <div class="row">
		<div class="col-lg-12">

		<form method="get" action="">

		 <div class="form-group">
                        <label for="customer_id">Mobile/Customer ID/Name:</label>
                        <input type="text" name="customer_id" class="form-control"/>
                </div>


		<input type="submit" value="Search" class="btn btn-primary"/>
		</form>

		</div>
	    </div>

		
<div class="row">
<div class="col-lg-12">
<br/>


<div class="panel panel-success">
<div class="panel-heading">Drawer Users</div>
<div class="panel-body">

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Full Name</th>
<th>Mobileno</th>
<th>Photo</th>
<th>User Status</th>
<th>Reg Date</th>
<th>&nbsp;</th>
</tr>
{% for d in drawers %}
<tr>
<td>{{ d.cashbox_fname }} {{ d.cashbox_mname }} {{ d.cashbox_lname }}</td>
<td>{{ d.cashbox_mobileno }}</td>
<td><img src="/profilepic/{{ d.business_logo  }}" style="width:20%;height:20%;" /></td>
{% if d.cashbox_verified == '1'  %}
<td><span class="btn btn-success btn-xs">Active</span></td>
{% else %}
<td><span class="btn btn-danger btn-xs">Deactive</span></td>
{% endif %}
<td>{{ d.cashbox_registration_timestamp }}</td>
<td><a href="#{{ d.cashbox_customer_id }}" class="btn btn-success btn-xs">View Detail</a></td>
</tr>
{% endfor %}
</table>
</div>
</div>



</div>
</div>








         </div>


{% endblock content %}

