<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>::UUMOO GRID::</title>

    <!-- Bootstrap Core CSS -->
    <link href="/profilepic/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/profilepic/assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/profilepic/assets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/profilepic/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/profilepic/assets/vendor/jquery/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
	body{background:#000;}
	.login-panel{margin-top:0% !important; }
	.error_msg{ text-align:center;color:#ff0000;font-weight:bold; }
	.copyright{text-align:center;color:#fff; }
    </style>

</head>

<body>


    <div class="container">
     <div class="row">
            <div class="col-md-4 col-md-offset-4">
		<table border="0" width="100%" align="center" style="margin: 60px 38%;">
		<tr><td><img src="/profilepic/uumoo_logo.png"/></td></tr>
		</table>


                <div class="login-panel panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">UUMOO </h3>
                    </div>
                    <div class="panel-body">
			{% if error %}
			<p class="error_msg">{{ error }}</p>
			{% endif %}
		       <form role="form" action="/grid/login-auth/" method="post" name="form">
				{% csrf_token  %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="mobile" value="{{ session.mob_val }}" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" id="cred" name="cred" type="password">
                                </div>
				<!--
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>-->
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit"  class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>


                    </div>
                </div>

			<br/>
                        <p class="copyright">Copyright &copy;2018, All right reserved by UUMOO.</p>





            </div>
        </div>
    </div>





    <!-- Bootstrap Core JavaScript -->
    <script src="/profilepic/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/profilepic/assets/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/profilepic/assets/dist/js/sb-admin-2.js"></script>

    <script>

		function checkNum(){
			var t = /^([0]{1}[1]{1}[1356789]{1}[0-9]{8})$/;
			var mob = document.getElementById("mobile").value;
			console.log('mob: '+ mob);
			if(!t.test(mob)){
				console.log('not valid');
				return false;
			}else{
				document.getElementById('cred').focus();
				console.log('valid');
			}
			return false;
		}


	
    </script>

</body>

</html>
