{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}
    <link href="/profilepic/assets/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{% endblock extra_css %}
{% block content %}
       
        <div id="page-wrapper">
<!--
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users</h1>
                </div>
              
            </div>
-->

            
            <!-- /.row -->
            <div class="row">


		<div class="col-lg-12">

		<form method="get" action="">

		<div class="form-group">
			<label for="customer_id">Mobile/Customer ID/Name:</label>
		        <input type="text" name="customerid" class="form-control"/>
		</div>

<!--

	<div class="form-group">
                <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" /><br/>
            </div>

-->



		<input type="submit" value="Search" class="btn btn-primary"/>

		</form>
		



		</div>

	    </div>

		
<div class="row">
<div class="col-lg-12">
<br/>
<div class="panel panel-success">
<div class="panel-heading">
Pocket Users
</div>
<div class="panel-body">
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Full Name</th>
<th>Mobileno</th>
<th>Photo</th>
<th>User Status</th>
<th>Reg Date</th>
<th>&nbsp;</th>
</tr>
{% for p in pockets %}
<tr>
<td>{{ p.pocket_fname }} {{ p.pocket_mname }} {{ p.pocket_lname }}</td>
<td>{{ p.pocket_mobileno }}</td>
<td><img style="width:20%;height:20%;" src="/profilepic/{{ p.pocket_photo }}" /></td>
{% if p.pocket_verified == '1'  %}
<td><span class="btn btn-success btn-xs">Active</span></td>
{% else %}
<td><span class="btn btn-danger btn-xs">Deactive</span></td>
{% endif %}

<td>{{ p.pocket_registration_timestamp }}</td>
<td><a href="/grid/pocket-user-profile?userid={{ p.customer_id }}" class="btn btn-success btn-xs">View Detail</a></td>
</tr>
{% endfor %}
</table>


<div class="pagination">
    <span class="step-links">
      {{pagination|safe}}
   </span>
</div>






</div>
</div>


</div>
</div>



</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="/profilepic/assets/dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/profilepic/assets/dist/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script>
	$('.form_date').datetimepicker({
        	language:  'en',
        	weekStart: 1,
       		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
         });
</script>
{% endblock extra_js %}




