{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}User Profile{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
<div id="page-wrapper">
	<br/>

	<!--
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Profile</h1>
                </div>
            </div>
	-->


            
            <!-- /.row -->
            <div class="row">
		<div class="col-lg-12">
		

		    <div class="panel panel-success">
                        <div class="panel-heading">
                           {{ pocket_fname }} {{ pocket_mname }} {{ pocket_lname }} Profile
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
				<li class="active"><a href="#basic_info" data-toggle="tab">Basic Info</a></li>
				<li><a href="#address_info" data-toggle="tab">Address Info</a></li>
				<li><a href="#nominee_info" data-toggle="tab">Nominee Info</a></li>
                                <li ><a href="#deposit" data-toggle="tab">Deposit</a> </li>
                                <li><a href="#payment" data-toggle="tab">Payment</a>  </li>
                                <li><a href="#transfer" data-toggle="tab">Transfer</a>  </li>
                                <li><a href="#withdraw" data-toggle="tab">Withdraw</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
				<div class="tab-pane fade in active" id="basic_info">
                                    <h4>Basic Info </h4>
                                    <p>
				<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
					<tr>
					<th>Current Balance:</th>
					<td>{{ current_balance }} </td>
					</tr>
					<tr>
					<th>Full Name:</th>
					<td>{{ pocket_fname }}&nbsp;{{ pocket_mname  }}&nbsp;{{ pocket_lname }}</td>
					</tr>
					<tr>
                                        <th>Father Name:</th>
                                        <td>{{ pocket_father_name }}</td>
                                        </tr>
  					 <tr>
                                        <th>Mobile No:</th>
                                        <td>{{ pocket_mobileno }}</td>
                                        </tr>
					   <tr>
                                        <th>Alternate Mobileno:</th>
                                        <td>{{ pocket_alternate_mobileno }}</td>
                                        </tr>
					 <tr>
                                        <th>Email:</th>
                                        <td>{{ pocket_email }}</td>
                                        </tr>
				        <tr>
                                        <th>DOB:</th>
                                        <td>{{ pocket_dob }}</td>
                                        </tr>
					 <tr>
                                        <th>Gender:</th>
                                        <td>{{ pocket_gender }}</td>
                                        </tr>
					<tr>
                                        <th>Voter ID:</th>
                                        <td>{{ pocket_voterlD }}</td>
                                        </tr>


					 <tr>
                                        <th>National ID:</th>
                                        <td>{{ pocket_nid }}</td>
                                        </tr>
					 <tr>
                                        <th colspan="2">Photo:</th>
                                         </tr>
					<tr>
					<td><img src="/profilepic/{{ pocket_photo }}"/></td>
					</tr>	
					 <tr>
                                        <th colspan="2">QR Photo:</th>
                                         </tr>
                                        <tr>
                                        <td><img src="/profilepic/{{ pocket_qrcode }}"/></td>
                                        </tr>



					</table>
					</p>
				    </div>



				   <div class="tab-pane fade" id="address_info">
                                    <h4>Address Info </h4>
                                    <p>
                                        </p>
                                    </div>

					<div class="tab-pane fade" id="nominee_info">
                                    <h4>Nominee Info </h4>
                                    <p>
                                        </p>
                                    </div>


			   
                                <div class="tab-pane fade" id="deposit">
                                    <h4>Deposits</h4>
                                    <p>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Receiver</th>
<th>Receiver Phone</th>
<th>Amount</th>
<th>Service Fee</th>
<th>Reference Text</th>
<th>Date</th>
</tr>
{% if deposits  %}
{% for dp in deposits  %}
<tr>
<td>{{ dp.customer_transaction_id }}</td>
<td>{{ dp.receiver_name }}</td>
<th>{{ dp.receiver_phone }}</td>
<td>{{ dp.transaction_amount }}</td>
<td>{{ dp.service_fee }}</td>
<td>{{ dp.reference_txt }}</td>
<td>{{ dp.transaction_timestamp }}</td>
</tr>
{% endfor %}
{% endif %}
</table>



					</p>
                                </div>

                                <div class="tab-pane fade" id="payment">
                                    <h4>Payments </h4>
                                    <p>
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Receiver</th>
<th>Receiver Phone</th>

<th>Amount</th>
<th>Service Fee</th>
<th>Reference Text</th>
<th>Date</th>
</tr>

{% for pp in payments  %}
<tr>
<td>{{ pp.customer_transaction_id }}</td>
<td>{{ pp.receiver_name }}</td>
<td>{{ pp.receiver_phone }}</td>

<td>{{ pp.transaction_amount }}</td>
<td>{{ pp.service_fee }}</td>
<td>{{ pp.reference_txt }}</td>
<td>{{ pp.transaction_timestamp }}</td>
</tr>
{% endfor %}
</table>

				</p>
                                </div>
                                <div class="tab-pane fade" id="transfer">
                                    <h4>Transfers</h4>
                                    <p>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Receiver Name</th>
<th>Receiver Mobile</th>

<th>Amount</th>
<th>Service Fee</th>
<th>Reference Text</th>
<th>Date</th>
</tr>

{% for tt in transfers  %}
<tr>
<td>{{ tt.customer_transaction_id }}</td>
<td>{{ tt.receiver_name }}</td>
<td>{{ tt.receiver_mobile }}</td>

<td>{{ tt.transaction_amount }}</td>
<td>{{ tt.service_fee }}</td>
<td>{{ tt.reference_txt }}</td>
<td>{{ tt.transaction_timestamp }}</td>
</tr>
{% endfor %}

</table>



					</p>
                                </div>
                                <div class="tab-pane fade" id="withdraw">
                                    <h4>Withdraw</h4>
                                    <p>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Amount</th>
<th>Service Fee</th>
<th>Reference Text</th>
<th>Date</th>
</tr>

{% for ww in withdraws  %}
<tr>
<td>{{ ww.customer_transaction_id }}</td>
<td>{{ ww.transaction_amount }}</td>
<td>{{ ww.service_fee }}</td>
<td>{{ ww.reference_txt }}</td>
<td>{{ ww.transaction_timestamp }}</td>
</tr>
{% endfor %}
</table>

					</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>


		</div>
	    </div>

        </div>
{% endblock content %}

