{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Security Questions</h1>
                </div>              
            </div>

        
            <!-- /.row -->


		
<div class="row">
  <div class="col-lg-12">
	<br/>
	<a href="/grid/add-security-question/" class="btn btn-primary btn-xs">Add Question</a>
	<br/>

	<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
	<tr>
		<th>Question</th>
		<th>Answers</th>
	</tr>
	{% for q in questions %}
	<tr>
		<td>{{ q.security_question }}</td>
		<td><a href="/" class="btn btn-primary btn-xs">Details</a></td>
	</tr>
	{% endfor %}
	</table>

  </div>
</div>


</div>
{% endblock content %}
