{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
    
<div id="page-wrapper">

 <div class="row">
    <div class="col-lg-12">
       <h1 class="page-header">Add Security Question</h1>
    </div>              
 </div>


<div class="row">
<div class="col-lg-12">
<br/>

	<form method="post" id="security_question_form">

		<input type="hidden" name="_token" id="_token" value="{{ csrf_token }}" />                
		<div class="form-group">
			<label for="customer_id">Minimum Amount:</label>
		        <input type="text" id="question" name="question" class="form-control" />
		</div>
	
		<input type="submit" value="Save" class="btn btn-primary"/>
		<a href="/grid/security-questions-list/" class="btn btn-info" >Back</a>
	</form>

</div>
</div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){

	$("#security_question_form").submit(function(){
		var question = $("#question").val();
		var obj = {
			'_token': $('#_token').val() ,
			'question': question
		}

		var c = confirm('Are You Sure Want to Save Question?');
		if(c) {
		$.ajax({
			type: 'POST' ,
			url: 'http://ec2-54-237-160-80.compute-1.amazonaws.com/api/web/add-question-action/' ,
			data:  JSON.stringify(obj) ,
			dataType: 'json' ,
			contentType: 'application/json' ,
			success:function(dt){
				console.log(dt);
				if(dt.success == 'true')
					alert('Data saved Successfully');
				else
					alert('Data Not Saved');

			}
	  });

	});

</script>
{% endblock extra_js %}
