{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
       
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Service Fees</h1>
                </div>
              
            </div>


            
            <!-- /.row -->
		
<div class="row">
<div class="col-lg-12">
<br/>
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>

<th>Service Code</th>
<th>Service Title</th>
<th>Min Amount</th>
<th>Max Amount</th>
<th>Service Fee</th>
<th>VAT</th>
<th>Other</th>
<th></th>
</tr>
{% for sfld in service_fee_list_details  %}
<tr>
<td>{{ sfld.id  }}</td>
<td>{{ sfld.service_title }}</td>
<td>{{ sfld.minimum_amount }}</td>
<td>{{ sfld.maximum_amount }}</td>
<td>{{ sfld.service_fee_amount }}</td>
<td>{{ sfld.vat_amount }}</td>
<td>{{ sfld.other_amount  }}</td>
<td><a href="/grid/service-fee-edit?serviceid={{ sfld.id }}" class="btn btn-primary btn-xs">Edit</a></td>
</tr>
{% endfor %}
</table>

</div>
</div>








         </div>


{% endblock content %}


