{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
    
<div id="page-wrapper">

 <div class="row">
    <div class="col-lg-12">
       <h1 class="page-header">Edit Service Fee</h1>
    </div>              
 </div>


<div class="row">
<div class="col-lg-12">
<br/>

	<form method="post" id="service_fee_form">

		<input type="hidden" name="_token" id="_token" value="{{ csrf_token }}" />
		<input type="hidden" id="service_id" name="service_id" value="{{ service_id }}" />
		<input type="hidden" id="service_type_id"  name="service_type_id" value="{{ service_type_id }}" />

               <div class="form-group">
               <label for="customer_id">Service Title: {{ service_title }}</label>                      
                </div>
		<div class="form-group">
			<label for="customer_id">Minimum Amount:</label>
		        <input type="text" id="minimum_amount" name="minimum_amount" class="form-control" value="{{ min_amount }}"/>
		</div>

               <div class="form-group">
                        <label for="customer_id">Maximum Amount:</label>
                        <input type="text" id="maximum_amount"  name="maximum_amount" class="form-control" value="{{ max_amount }}"/>
                </div>

	      <div class="form-group">
		  <label form="customer_id">Service Fee</label>
		  <input type="text" id="service_fee" name="service_fee" class="form-control" value="{{ service_fee_amount }}" />
	      </div>


              <div class="form-group">
                        <label for="customer_id">VAT Amount:</label>
                        <input type="text" id="vat_amount" name="vat_amount" class="form-control" value="{{ vat_amount }}"/>
                </div>

              <div class="form-group">
                        <label for="customer_id">Other Amount:</label>
                        <input type="text" id="other_amount" name="other_amount" class="form-control" value="{{ other_amount }}"/>
                </div>


		
		<input type="submit" value="Update" class="btn btn-primary"/>
		<a href="/grid/service-fees/" class="btn btn-info" >Back</a>
	</form>

</div>
</div>




</div>
{% endblock content %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){

	$("#service_fee_form").submit(function(){
		var service_id = $("#service_id").val();
		var service_type_id = $("#service_type_id").val();
		var min_amount = $("#minimum_amount").val();
		var max_amount = $("#maximum_amount").val();
		var service_fee = $("#service_fee").val();
		var vat_amount = $("#vat_amount").val();
		var other_amount = $("#other_amount").val();

		var obj = {
			'_token': $('#_token').val() ,
			'service_id' : service_id ,
			'service_type_id': service_type_id ,
			'minimum_amount': min_amount,
			'maximum_amount': max_amount ,
			'service_fee': service_fee ,
			'vat_amount': vat_amount ,
			'other_amount': other_amount
		}

		var c = confirm('Are You Sure Want to Update Service Fee?');
		if(c) {
		$.ajax({
			type: 'POST' ,
			url: 'http://ec2-54-237-160-80.compute-1.amazonaws.com/api/web/service-fee-edit-action/' ,
			data:  JSON.stringify(obj) ,
			dataType: 'json' ,
			contentType: 'application/json' ,
			success:function(dt){
				console.log(dt);
				if(dt.success == 'true')
					alert('Service Fee Updated Successfully');
				else
					alert('Service Fee Not Updated');

			}
		});
		}else{
			return false;
		}

		console.log('service fee formsubmit -----> ');
		console.log(obj);

		return false;
	});

});
</script>
{% endblock extra_js %}





