{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}{% endblock extra_css %}


{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Service Fee Edit</h1>
                </div>              
            </div>


 <div class="row">
      <div class="col-lg-12">




	</div>
</div>


</div>
{% endblock content %}
