{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}

{% block title %}
test page
{% endblock title %}




{% block extra_css %}
<style type="text/css">
p{ font-size: 15px; }
</style>
{% endblock extra_css %}

<div id="page-wrapper">
{% block content %}
<h3>Sample Page...</h3>
{% endblock content %}
</div>




{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
	console.log('i am executing');
});
</script>
{% endblock extra_js %}


