{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}

{% block title %}Welcome to UUMOO{% endblock title %}

{% block extra_css %}{% endblock extra_css %}


{% block content %}
       
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Transaction Types</h1>
                </div>
              
            </div>


            
            <!-- /.row -->
		
<div class="row">
<div class="col-lg-12">
<br/>
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Code</th>
<th>Title</th>
<th>Status</th>
</tr>
{% for tt in transaction_types %}
<tr>
<td>{{ tt.transaction_type_id }}</td>
<td>{{ tt.transaction_type_title }}</td>
<td>{{ tt.transaction_type_status }}</td>
</tr>
{% endfor %}

</table>

</div>
</div>

</div>
{% endblock content %}
