{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}Welcome to UUMOO{% endblock title %}
{% block extra_css %}
<link href="/profilepic/assets/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{% endblock extra_css %}

{% block content%}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Transactions</h1>
                </div>              
            </div>            
            <!-- /.row -->
		
<div class="row">
<div class="col-lg-12">
<br/>

</div>
</div>








</div>
{% endblock content %}


{% block extra_js %}
<script type="text/javascript" src="/profilepic/assets/dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/profilepic/assets/dist/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script>
	$('.form_date').datetimepicker({
        	language:  'en',
        	weekStart: 1,
       		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
         });
</script>
{% endblock extra_js %}



