{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}
{% block title %}User Profile{% endblock title %}
{% block extra_css %}{% endblock extra_css %}


{% block content %}
       
        <div id="page-wrapper">
	<br/>

	<!--
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Profile</h1>
                </div>
            </div>-->


            
            <!-- /.row -->
            <div class="row">
		<div class="col-lg-12">
		

		    <div class="panel panel-success">
                        <div class="panel-heading">
                           {{ p.pocket_fname }} {{ p.pocket_mname }} {{ p.pocket_lname }} Profile
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#deposit" data-toggle="tab">Deposit</a> </li>
                                <li><a href="#payment" data-toggle="tab">Payment</a>  </li>
                                <li><a href="#transfer" data-toggle="tab">Transfer</a>  </li>
                                <li><a href="#withdraw" data-toggle="tab">Withdraw</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="deposit">
                                    <h4>Deposits</h4>
                                    <p>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Amount</th>
<th>Reference Text</th>
<th>Date</th>
</tr>
{% for dp in deposits  %}
<tr>
<td>{{ dp.customer_transaction_id }}</td>
<td>{{ dp.transaction_amount }}</td>
<td>{{ dp.reference_txt }}</td>
<td>{{ dp.transaction_timestamp }}</td>
</tr>
{% endfor %}
</table>



					</p>
                                </div>
                                <div class="tab-pane fade" id="payment">
                                    <h4>Payments </h4>
                                    <p>
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Amount</th>
<th>Reference Text</th>
<th>Date</th>
</tr>

{% for pp in payments  %}
<tr>
<td>{{ pp.customer_transaction_id }}</td>
<td>{{ pp.transaction_amount }}</td>
<td>{{ pp.reference_txt }}</td>
<td>{{ pp.transaction_timestamp }}</td>
</tr>
{% endfor %}
</table>

				</p>
                                </div>
                                <div class="tab-pane fade" id="transfer">
                                    <h4>Transfers</h4>
                                    <p>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Amount</th>
<th>Reference Text</th>
<th>Date</th>
</tr>

{% for tt in transfers  %}
<tr>
<td>{{ tt.customer_transaction_id }}</td>
<td>{{ tt.transaction_amount }}</td>
<td>{{ tt.reference_txt }}</td>
<td>{{ tt.transaction_timestamp }}</td>
</tr>
{% endfor %}

</table>



					</p>
                                </div>
                                <div class="tab-pane fade" id="withdraw">
                                    <h4>Withdraw</h4>
                                    <p>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Transaction ID</th>
<th>Amount</th>
<th>Reference Text</th>
<th>Date</th>
</tr>

{% for ww in withdraws  %}
<tr>
<td>{{ ww.customer_transaction_id }}</td>
<td>{{ ww.transaction_amount }}</td>
<td>{{ ww.reference_txt }}</td>
<td>{{ ww.transaction_timestamp }}</td>
</tr>
{% endfor %}
</table>

					</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>


		</div>
	    </div>

        </div>
{% endblock content %}
