{% extends '/home/ec2-user/uumoo_devgrid/uumoogrid/uumoogrid/ui/webadmin/pages/base.html' %}

{% block title %}Welcome to UUMOO{% endblock title %}

{% block extra_css %}{% endblock extra_css %}


{% block content %}
       
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users</h1>
                </div>
              
            </div>


            
            <!-- /.row -->
            <div class="row">


		<div class="col-lg-12">

		<form method="get" action="">
		<select class="form-control">
			<option value="101">Pocket</option>
			<option value="102">Drawer</option>
		</select>

		<input type="submit" value="Search" class="btn btn-primary"/>

		</form>
		



		</div>

	    </div>

		
<div class="row">
<div class="col-lg-12">
<br/>
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
<tr>
<th>Full Name</th>
<th>Mobileno</th>
<th>User Status</th>
<th>Reg Date</th>
<th>&nbsp;</th>
</tr>
{% for p in pockets %}
<tr>
<td>{{ p.pocket_fname }} {{ p.pocket_mname }} {{ p.pocket_lname }}</td>
<td>{{ p.pocket_mobileno }}</td>
{% if p.pocket_verified == '1'  %}
<td><span class="btn btn-success btn-xs">Active</span></td>
{% else %}
<td><span class="btn btn-danger btn-xs">Deactive</span></td>
{% endif %}
<td>{{ p.pocket_registration_timestamp }}</td>
<td><a href="/grid/user-profile/{{ p.customer_id }}" class="btn btn-success btn-xs">View Detail</a></td>
</tr>
{% endfor %}


</table>

</div>
</div>








         </div>


{% endblock content %}
