<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
				<img src="/profilepic/uumoo_logo.png" style="width:219px;height:168px;" />
				<!--
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                                </span>-->
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/grid/home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>

			<!--
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                       
                        </li>-->
                        <li>

			    <a href="#"><i class="fa fa-table fa-fw"></i> Users<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/grid/pocket-users-list/">Pocket Users</a>
                                </li>
                                <li>
                                    <a href="/grid/drawer-users-list/">Drawer Users</a>
                                </li>
                            </ul>

                        </li>



			
                        <li>
                            <a href="/grid/api-encryption-keys/"><i class="fa fa-edit fa-fw"></i> Encryption Keys</a>
                        </li>


 <li>
                            <a href="/grid/transaction-type-list/"><i class="fa fa-edit fa-fw"></i> Transaction Type List</a>
                        </li>


		<!--

                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                  </li>
                            </ul>
                        </li>
		-->
                        <li>
                            <a href="/grid/service-fees/"><i class="fa fa-files-o fa-fw"></i> Service Fees</a>
                         </li>

			 <li>
                            <a href="/grid/security-questions-list/"><i class="fa fa-question-sign-o fa-fw"></i> Security Questions</a>
                         </li>

		
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
